<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Eclipse_Core::all" title="Eclipse" sortOrder="10">
                    <resource id="Eclipse_Core::menu" title="Main Eclipse Menu" sortOrder="10"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
